body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sketch-screen {
  height: 40rem;
  width: 40rem;
}

#sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: 50rem;
  background-color: rgb(219, 46, 46);
  border-radius: 1rem;
}