body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightskyblue;
  height: 50rem;
}

#change-button,
#clear-button {
  color: black;
  background-color: red;
  font-size: 1.5rem;
  font-family: 'Comic Neue', cursive;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.5em;
  margin: 0.5em;
}

#sketch-screen {
  height: 30rem;
  width: 30rem;
}

#sketch-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40rem;
  width: 40rem;
  background-color: red;
  border-radius: 1rem;
}

#sketch-top p {
  font-family: 'Happy Monkey', cursive;
  font-size: 3rem;
  font-weight: 700;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;
  padding: 0;
  margin: 0;
}

#sketch-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 38rem;
}

.knob {
  box-sizing: border-box;
  padding: 2.5em;
  border-radius: 3em;
  border-style: solid;
}